In [9]:
from usecase.taxi_usecase import TaxiUsecase
from repository.postgre_repo import PostgreRepo
from config.config import Config 
from datetime import datetime, date , timedelta
from lib.query import *
import warnings
from jinja2 import Template
from matplotlib import pyplot as plt
warnings.filterwarnings('ignore')

In [3]:
# Initiate config, repository and usecase
cfg = Config().conf
pg_repo = PostgreRepo(cfg["postgre"])
taxi_usecase = TaxiUsecase(cfg["taxi_config"],pg_repo)

Successfully load config
Taxi TR iniatated !

In [4]:
# Question 1 - Point A  top 10 highest taxi population region
# Get latest data to postgre
taxi_usecase.get_current_data()
# query latest data to get result
top_10_region = pg_repo.exec_query_pd(top_10_area)
print(top_10_region)

Processing timestamp : 2023-06-11T00:18:21+08:00
            region_name  daily_minute_occurence
0        CHANGI AIRPORT                     251
1              ALJUNIED                      29
2        WOODLANDS EAST                      25
3         TAMPINES EAST                      24
4           BEDOK NORTH                      22
5          HOUGANG WEST                      19
6  SENGKANG TOWN CENTRE                      18
7             KEMBANGAN                      16
8           YISHUN WEST                      16
9           NORTH COAST                      14

In [7]:
# Question 1 - Point B  top 10 lowest taxi population region
# Get all region in sg
taxi_usecase.get_all_region("dt_sg_region")
# query latest data to get result
taxi_usecase.get_current_data()
bottom_10_region = pg_repo.exec_query_pd(bottom_10_area)
print(bottom_10_region)

Processing timestamp : 2023-06-11T00:18:21+08:00
                 coalesce  coalesce
0            AIRPORT ROAD         0
1         ALEXANDRA NORTH         0
2  ANG MO KIO TOWN CENTRE         0
3               BENCOOLEN         0
4            BENOI SECTOR         0
5             BUKIT MERAH         0
6              CHANGI BAY         0
7                CHIN BEE         0
8           CLIFFORD PIER         0
9            CONEY ISLAND         0

In [10]:
# Question 1 - Point C  Hourly taxi availability
c_query = Template(hourly_taxi_avail)
c_query = c_query.render(date = '2023-06-09')
hourly_taxi = pg_repo.exec_query_pd(c_query)
print(hourly_taxi)

            date  hour                  region_name  count_taxi
0     2023-06-09     0               CHANGI AIRPORT         478
1     2023-06-09     0                TAMPINES EAST          51
2     2023-06-09     0                  BEDOK NORTH          39
3     2023-06-09     0                    NORTHLAND          30
4     2023-06-09     0               WOODLANDS EAST          30
...          ...   ...                          ...         ...
6505  2023-06-09    23                   TUAS NORTH           1
6506  2023-06-09    23  INTERNATIONAL BUSINESS PARK           1
6507  2023-06-09    23                       TAGORE           1
6508  2023-06-09    23              PAYA LEBAR EAST           1
6509  2023-06-09    23                     BIDADARI           1

[6510 rows x 4 columns]

In [ ]:
# Question 2 - Alert for Region with no Taxi Available